<html>
<head>
    <title>{{title}}</title>
    <link href='/css/index.css' rel='stylesheet'/>
    <link href='/css/sass.css' rel='stylesheet'/>
    <link href='/css/scss.css' rel='stylesheet'/>
    <link href='/css/less.css' rel='stylesheet'/>
    <style>
        .hide {
            display: none;
        }
    </style>
</head>
<body>

<h1> Hello, Express </h1>

<p class='hide sass'> Hello Sass </p>
<p class='hide scss'> Hello Scss </p>
<p class='hide less'> Hello Less </p>
<p class='hide typescript'> Hello Typescript </p>
<p class='hide coffee'> Hello Coffee </p>
<p class='hide es6'> Hello ES6</p>
<div class="react"></div>

<script src="/js/lib/react.js"></script>
<script src="/js/lib/react-dom.js"></script>
<script src='/js/index.js'></script>
<script src='/js/coffee.js'></script>
<script src='/js/typescript.js'></script>
<script src='/js/es6.js'></script>
<script src='/js/react.js'></script>

</body>
</html>
